<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            max-width: 560px;
        }
        .field-error{
            border-color: #dc3545;
            color:#dc3545;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <form action="/" th:action th:object="${loginForm}" method="post">
        <!-- 전역오류 영역 -->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error"
               th:each="err : ${#fields.globalErrors()}"
               th:text="${err}">Global Error</p>
        </div>

        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text"
                   class="form-control"
                   id="loginId"
                   th:field="*{loginId}"
                   th:errorclass="field-error" />
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="text"
                   class="form-control"
                   id="password"
                   th:field="*{password}"
                   th:errorclass="field-error" />
            <div class="field-error" th:errors="*{password}"></div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <button type="submit" class="w-100 btn btn-primary btn-lg">로그인</button>
            </div>
            <div class="col">
                <button type="button" class="w-100 btn btn-dark btn-lg"
                        th:onclick="|location.href='@{/}'|">취소</button>
            </div>
        </div>
    </form>


    <hr class="my-4" />

</div>
</body>
</html>